.root * {
    -fx-font-family: "Times New Roman", "Arial";
    -fx-font-size: 18px;
}

.field-label {
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 60, 170);
    -fx-padding: 5px 5px 5px 5px;
}

