.boxed {
    -fx-border-color: rgb(190, 200, 255);
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.report-label {
    -fx-text-fill: rgb(190, 200, 255);
}

.report-separator *.line {
    -fx-border-color: blue;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-insets: 0 20px;
}

.report-padding {
    -fx-padding: 0 15px;
    -fx-border-insets: 0 15px;
    -fx-background-insets: 0 15px;
}